<div class="list-item">
  <li>
    <h3>{{ title() }}</h3>
    <span>{{ overView() }}</span
    ><br />
    <small>Release Date: {{ releaseDate() | date }}</small>
  </li>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.eh5RRJ5l1pqHQDN1ubb1VAHaEx%26pid%3DApi&f=1&ipt=b913b28e9438f2bd3cb85f57d12ef2b9d336fc0f7868099cd0a8bad03b2dcbf6&ipo=images"
    data-srcset="image-small.jpg 320w, image-medium.jpg 640w, image-large.jpg 1024w"
    data-sizes="auto"
    alt="Image"
    loading="eager"
  />
</div>
