<header class="header">
  <div class="logo">
    <h2>Movie app</h2>
  </div>
  <div class="navigation">
    <nav>
      <a href="/home" class="btn --primary" routerLink="/">Home</a>
      <a  href="/movies" class="btn --primary" routerLink="/movies">Movies</a>
      <a  href="/tv-shows" class="btn --primary" routerLink="/tv-shows">TV shows</a>
      <a  href="/about" class="btn --primary" routerLink="/about">About</a>

      <form [formGroup]="searchForm">
      <input type="text" class="input __field" placeholder="Search" formControlName="search"/>
    </form>
    </nav>
  </div>
</header>
